.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f5f5f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* File Groups */
.example-file-groups {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap as needed */
  justify-content: center; /* This centers the boxes if there's extra space */
}

.file-group {
  border: 1px solid #ccc; /* Adjust the border as desired */
  padding: 10px;
  border-radius: 8px; /* Optional, for rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional, for a subtle shadow */
  width: 250px; /* Or any other fixed width, or flex-basis if you prefer */
}
.examples{
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px; /* Optional, for rounded corners */
}
.examples p {
  font-size: 16px;
}


.examples h3 {
  font-size: 20px;
}

.example-file-groups h2 {
  font-size: 18px;
}

.example-file-groups .file-group h3 {
  font-size: 16px;
}

.example-file-groups ul {
  padding-left: 20px;
}

.example-file-groups li {
  list-style-type: disc;
  font-size: 14px;
}

.example-file-groups a {
  text-decoration: none;
  color: blue;
}
