.results {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    border-radius: 8px;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.display-results {
    margin-top: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    /*display: flex;*/
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.display-results h2,
.display-results h3 {
    color: #333;
    
}

.display-results p,
.display-results ul {
    font-size: 16px;
    color: #333;
}

.display-results a {
    color: #007bff;
}

.display-results ul {
    list-style-type: none;
    padding: 0;
}

.display-results li {
    margin-bottom: 5px;
}

.checks {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap as needed */
    justify-content: center; /* This centers the boxes if there's extra space */
}

.dataset-results{
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap as needed */
    justify-content: center; /* This centers the boxes if there's extra space */
   text-align: left;
}

.ontology {
    border: 1px solid #ccc;
}

.dataset-container {
    display: flex;
    flex-direction: column; /* Changed to stack info and checks vertically */
    gap: 20px;
}

.dataset-info {
    text-align: left;
}

.dataset-checks-container {
    display: flex; /* Added to layout the checks side by side */
    justify-content: start; /* Aligns checks to the start */
    flex-wrap: wrap; /* Allows checks to wrap if not enough space */
    gap: 20px; /* Adds space between checks */
}

.dataset-check {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Adjusting flex-basis to fit all checks in one line, considering padding and borders */
    flex: 1; /* Allows the boxes to grow and fill the container */
    min-width: 0; /* Prevents flex items from growing beyond their content size */
    margin-bottom: 20px; /* Space below each check, if you need it */
    max-width: calc(33.333% - 20px); /* Adjusts max width to fit three items accounting for the gap */
}

.dataset-check h1 {
    font-size:  20px;
}

.check-description p {
    font-size: 14px;
    text-align: left;
}
  

.table {
    width: 100%;
    border-collapse: collapse; /* Ensures that borders between cells appear as a single line */
    font-size: 14px;
  }
  
  .table th, .table td {
    border: 1px solid black; /* Adds a border around each cell */
    padding: 8px; /* Adds some padding inside each cell for better readability */
    text-align: left; /* Aligns the text to the left */
  }
  
  .table th {
    background-color: #f2f2f2; /* Adds a background color to the header cells */
  }

  .table ul {
    font-size: 12px;
  }
  

  .modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
  }

  .modal-content ol {
    font-size: 15px;
    text-align: left;
  }

  .modal-content ul {
    font-size:  18px;
    text-align: left;
    
  }
  .modal-content li {
    padding-top: 10px;
  }
  .modal-content h2{
    font-size: 25px;
  }
  
  .modal-content h3{
    font-size: 18px;
    text-align: left;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  

  .overall-results h2 {
    font-size: 25px;
  }
  .overall-results h1 {
    font-size: 30px;
  }