.display-results {
    margin-top: 20px;
    padding: 20px;
    
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    border-radius: 8px;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.display-results h2,
.display-results h3 {
    color: #333;
}

.display-results p,
.display-results ul {
    font-size: 16px;
    color: #666;
}

.display-results a {
    color: #007bff;
}

.display-results ul {
    list-style-type: none;
    padding: 0;
}

.display-results li {
    margin-bottom: 5px;
}


.ontology {
    border: 1px solid #ccc;
}